*{
 margin:0;
 padding:0;
}

nav{
  background-color: #faaa2d;
}

nav h2{
  margin-left: 43%;
  margin-top: 50px;
  font-size: 50px;
}

.head{
  margin-top: 0px;
  margin-bottom: 70px;
  padding-top: 10px;
  font-family: fantasy;
  font-size: 40px;
}

.head h1{
  margin-left: 32%;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  overflow: hidden;
}
===
.container {
  width: 100vw;
  height: 100vh;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container form {
  box-sizing: border-box;
  text-align: center;
  padding: 0px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container form input {
  height: 0;
  margin: 12px 0;
  z-index: 1;
  margin-left: 15px;


}

.container form input:checked {
  outline: 0;
  border: 0;
}

.container form input:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  border-radius: 11px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.container form input:checked:before { background-color: white; }

.container form input:after {
  content: "" attr(title) "";
  position: relative;
  left: 30px;
  opacity: 0;
  color: white;
  font-size: 9px;
  display: block;
  min-width: 80px;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.container form input:checked:after {
  opacity: 1;
  left: 20px;
}
.container form input:hover:after:not(label) {
 opacity: 1;
}

.container form input:nth-of-type(1):checked ~ .labels label {
  -webkit-transform: translateY(-0%);
  transform: translateY(-0%);
}

.container form input:nth-of-type(2):checked ~ .labels label {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.container form input:nth-of-type(3):checked ~ .labels label {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}

.container form input:nth-of-type(4):checked ~ .labels label {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

.container form input:nth-of-type(5):checked ~ .labels label {
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%);
}

.container form input:nth-of-type(6):checked ~ .labels label {
  -webkit-transform: translateY(-500%);
  transform: translateY(-500%);
}

.container form input:nth-of-type(7):checked ~ .labels label {
  -webkit-transform: translateY(-600%);
  transform: translateY(-600%);
}

.container form .labels {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container form .labels label {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 0;
  -webkit-transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
  transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
  font-family: fantasy;
  font-size: 20px;
}

.container form .labels label:nth-child(odd) {
  background-color: #ffffff;
  color: black !important;
}

.container h2{
  font-size: 35px;
}

.content .processor{
  margin-top: -320px;
  margin-left: 5%;
}

.content .GC{
  margin-top: -400px;
  margin-left: 2%;
}

.content .ram{
  margin-top: -220px;
  margin-left: 2%;
}
===
.head h1{
  text-align: center;
}

.bar{
  margin-top: -70px;
  font-size: 30px;
  font-family: fantasy;
  padding-bottom: 10px;
}

.index2{
  display: inline-flex;
  margin-left: 27%;
}
.contact2{
  margin-right: 150px;
  display: inline-flex;
  float: right;
}
.logo{
height : 150px;
margin-top: 30px;
}

.logo2{
  margin-top: -40px;
  height : 150px;
  float: left;
}

.logo3{
  margin-top: -155px;
  height: 150px;
  float: right;
}

.description p{
  text-align: justify;
  margin-top: -140px;
  margin-left: 30%;
  margin-right: 30%;
  font-family: fantasy;
  font-size: 25px;
}

.description span{
  margin-left: 50%;
  margin-right: 40%;
  font-family: fantasy;
  font-size: 25px;

}

.contact{
  margin-left: 75%;
  margin-right: 15px;
  margin-top: -180px;
  padding-bottom: 100px;
  text-align: center;
  font-family: fantasy;
  font-size: 25px;

}

.contact a:link{
text-decoration:none;
}

.bar a:link{
  text-decoration: none;
  color : black;
}

.bar a:hover{
  color: blue;
}

.bar a:visited{
  color : black;
}

.bar a:visited:hover{
  color: blue;
}
.box1{
  margin-left: 20px;
  width: 30%;
}

.box1 h3{
  margin-left: 70px;
  margin-top: -50px;
  font-size: 30px;
}

.box1 {
  font-family: fantasy;
  font-size: 17px;
}

.menu ul{
  margin-left: -170px;
  margin-top: -140px;
  line-height: 45px;
  list-style-type:none;
  text-align: justify;
  display: block;
}

.menu2 ul{
  margin-left: 50px;
  margin-top: -50px;
  line-height: 45px;
  list-style-type: none;
  text-align: justify;
}

.menu3 ul{
  margin-left: -170px;
  margin-top: -70px;
  line-height: 45px;
  list-style-type: none;
  text-align: justify;
}

.menu4 ul{
  margin-left:  -170px;
  margin-top: -15px;
  line-height: 45px;
  list-style-type: none;
  text-align: justify;
}
.PP{
  height : 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 80px
}

.PP2{
  height : 250px;
  margin-top: -100px;
  margin-left: -300px;
  border-radius: 100px;
}

.specpro{
  margin-top: -240px;
  margin-left: 65%;
  margin-right: 10%;
  text-align: justify;
}

.specgc{
  margin-top: -240px;
  margin-left: 70%;
  text-align: justify;
}

.specram{
  margin-top: -240px;
  margin-left: 70%;
  text-align: justify;
}

.box2{
  margin-left: 35%;
  margin-top: -285px;
  width : 30%;
}

.box2 h3{
  margin-left: 10%;
  margin-top: -295px;
  font-size: 30px;
  font-family: fantasy;
}

.box2 p{
  font-size: 17px;
  font-family: fantasy;
  margin-left: 2%;
}

.titre2{
  margin-left: 150px;
}

.DP{
  height: 190px;
  margin-left: 10%;
  border-radius: 80px;
}

.DP2{
  height: 270px;
  margin-left: -500px;
  border-radius: 80px;
  margin-top: -70px;
}

.box3{
  margin-left: 70%;
  margin-top: -260px;
  width : 30%;
}
.box3 h3{
  margin-top: -295px;
  margin-left: 30%;
  font-size: 30px;
  font-family: fantasy;
}
.box3 p{
  margin-right: 15px;
  margin-top: 15px;
  font-size: 17px;
  font-family: fantasy;
}

.TP{
  height: 150px;
  border-radius: 40px
}

.TP2{
  height: 250px;
  margin-left: -500px;
  border-radius: 80px;
  margin-top: -50px;
}


#contact_form{
  text-shadow:0 0 0 #FFF;
  background:black;
  width:40%;
  margin-left: 0px;
  margin-top:240px;
  margin-bottom:-40px;
  padding:30px;
  padding-left:130px;
  padding-right: 50px;
  color:white;
  padding-bottom: 50px;
}

input{
 display:block;
 width:60%;
 border-radius:4px;
 background-color:#F4F4F4;
 color:#000;
 border:0px;
 padding:10px;
 margin-bottom:25px;
}

#contact_form input[type=submit]{
 background-color:silver;
 color:black;
 margin-top:20px;
 padding:10px;
 border:none;
 font-size:18px;
}

iframe{
  width: 46%;
  margin-left: 696px;
  margin-top: -430px;
}

@media only screen and (max-width:500px){
  .head h1{
    margin-left: 70px;
    font-size: 30px;
  }

.head .logo{
  margin-top : 5px;
  margin-left: 5%;
}

.head .description p{
margin-top: -20px;
margin-left: 20px;
margin-right: 15px;
}

.description span{
  margin-left: 160px;
}

.head .contact p{
  margin-top: 290%;
  margin-left: -240px;
}
.contact a{
  margin-bottom: 160px;
  margin-left: -220px;
}


.box1 .titre1{
  margin-left: 100px;
}

.box1 p{
  margin-left: 100px;
  margin-right: -150px;
  margin-bottom: 10px;
  text-align: center;
}

.box1 img{
  margin-left: 30px;
}
.box2 .titre2{
  margin-top: 310px;
  margin-left: 0px;
}

.box2 img{
  margin-left: -40px;
}

.box2 p{
  margin-left: -80px;
  margin-right: -100px;
  margin-bottom: 10px;
  text-align: center;
}

.box3 .titre3{
  margin-top: 310px;
  margin-left: -100px;
}

.box3 img{
  margin-left: -180px;
}

.box3 p{
  margin-left: -250px;
  margin-right: -10px;
  text-align: center;
  margin-bottom: 10px;
}

.head .logo2{
  margin-top: 0px;
  margin-left: 20%;
  height: 100px;

}
.head .logo3{
  margin-top: 40px;
  height :0px;
}

.head h2{
  margin-left: 90px;
}

.bar .index2 a{
  margin-left: 0px;
}

.bar .contact2 a{
  margin-right: -450px;
  margin-top: -0px;
}

.container {
  margin-top: 20%;
}

.container h2{
  margin-top: -200px;
  margin-left: 25px;
  font-size: 20px;
}

.container .content .menu2{
  margin-left: -100%;
}

.menu3 ul{
  font-size: 10px;
  margin-left: 25px;
  margin-top: -100px;
}

.menu4 ul{
  font-size: 10px;
  margin-left: 40px;
  margin-top: -30px;;
}
.PP2{
  height: 100px;
  margin-left: 0px;
  margin-right: 100px;
  margin-bottom: 120px;
}


.DP2{
  height: 150px;
  margin-left: 20px;
  margin-right: 100px;
  float: left;
}
.specgc{
  margin-top: -180px;
  margin-left: 120px;
  font-size: 15px;
  list-style-type:none;

}

.specpro{
  margin-bottom: 150px;
  font-size: 12px;
  list-style-type:none;

}

.TP2{
  height: 110px;
  margin-top: -80px;
  margin-left: 70px;
  float: left;
}

.specram{
  font-size: 15px;
  margin-left: 250px;
  margin-top: -80px;
  list-style-type:none;

}


#contact_form{
  width: -350px;
}

iframe{
  margin-top: 40px;
  width : 380px;
  margin-left: 0px;
}
}

@media only screen and (min-width:500px)and (max-width:800px){
  .head h1{
    margin-left: 300px;
    font-size: 30px;
  }

.head .logo{
  margin-top : 5px;
  margin-left: 30%;
}

.head .description p{
margin-top: -20px;
margin-left: 20px;
margin-right: 15px;
}

.description span{
  margin-left: 370px;
}

.head .contact p{
  margin-top: 200px;;
  margin-left: -500px;
}
.contact a{
  margin-bottom: 160px;
  margin-left: -550px;
}


.box1 .titre1{
  margin-left: 300px;
}

.box1 p{
text-align: center;
width : 200px;
margin-left: 280px;
}

.box1 img{
  margin-left: 240px;
}

.box2 .titre2{
  margin-top: 330px;
}

.box2 img{
  margin-left: 10px;
}

.box2 p{
  margin-left: -80px;
  margin-right: -100px;
  margin-bottom: 10px;
  text-align: center;
}

.box3 .titre3{
  margin-top: 310px;
  margin-left: -180px;
}

.box3 img{
  margin-left: -280px;
}

.box3 p{
  margin-left: -580px;
  margin-right: -100px;
  margin-bottom: 20px;
  text-align: center;
}

.menu ul{
margin-left: 40px;
margin-top: -90px;
line-height: 45px;
list-style-type: none;
text-align: justify;
}

.menu2 ul{
  margin-top : -20px;
}

.menu3 ul{
  margin-left: -190px;
}

.menu4 ul{
    margin-left: -20px;
    margin-top: -10px;
}

.container .PP2{
  width: 200px;
  margin-right: -180px;
}

.container .DP2{
  width: 150px;
  margin-right: -300px;
}

.container .TP2{
  width: 210px;
  margin-right: -230px;
  margin-top: -150px;
}

.specgc{
  margin-right: -200px;
}

.specram{
  list-style-type: none;
  margin-left: 400px;
}

#contact_form{
  margin-top: 200px;
  padding-right: 10px;
  padding-left: 30px;
  padding-bottom: 120px;
}

.specgc{
  margin-left: 250px;
  list-style-type: none;
}
iframe {
  width : 440px;
  margin-top: -560px;
  margin-left: 360px;
  padding-top: 15px;
}

.container form {
  height: 600px;
  margin-left: 15px;
}
}

@media only screen and (min-width:800px)and (max-width:1100px){


.menu2 ul{
  margin-top: -50px;
}
.PP2{
  height: 150px;
  margin-left: -100px;
  margin-top: -70px;
}
.specpro{
  margin-top: -200px;
  list-style-type: none;
}
.DP2{
  margin-left: -30px;
}

.menu3{
  margin-left: 180px;
}
.specgc{
  list-style-type: none;
}
.menu4 ul{
  margin-left: 10px;
}
.TP2{
  width : 250px;
  margin-left: -100px;
}
.specram{
  list-style-type: none;
}
}
